{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div>
        <form id="client-search" method="post" autocomplete="off" enctype="multipart/form-data"
            autocomplete="off">
            {% csrf_token %}
            {% if request.method == "POST" %}
            <div class="row form-group">
                {% if form.errors or form.non_field_errors %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <p>Please resolve the errors in form first.</p>
                        <p>{{ form.non_field_errors }}</p>
                    </div>
                {% endif %}
            </div>
            {% endif %}
            <div class="row form-group">
                <div class="col-lg-6">
                    <div class="help-block">{{ form.name.errors }}</div>
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>
                <div class="col-lg-6">
                    <div class="help-block">{{ form.email.errors }}</div>
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-6">
                    <div class="help-block">{{ form.phone.errors }}</div>
                    {{ form.phone.label_tag }}
                    {{ form.phone }}
                </div>
                <div class="col-lg-6">
                    <div class="help-block">{{ form.contact_name.errors }}</div>
                    {{ form.contact_name.label_tag }}
                    {{ form.contact_name }}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-6">
                    <div class="help-block">{{ form.street_name.errors }}</div>
                    {{ form.street_name.label_tag }}
                    {{ form.street_name }}
                </div>
                <div class="col-lg-6">
                    <div class="help-block">{{ form.suburb.errors }}</div>
                    {{ form.suburb.label_tag }}
                    {{ form.suburb }}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-6">
                    <div class="help-block">{{ form.postcode.errors }}</div>
                    {{ form.postcode.label_tag }}
                    {{ form.postcode }}
                </div>
                <div class="col-lg-6">
                    <div class="help-block">{{ form.state.errors }}</div>
                    {{ form.state.label_tag }}
                    {{ form.state }}
                </div>
            </div>

            <div class="row">
                <div class="text-center">
                    <button type="submit" class="btn btn-success text-center">Submit</button>
                </div>
            </div>

        </form>
    </div>
<script>
</script>
{% endblock %}